@media (min-width: 768px) {
    h1{
        font-size: 4.3vw; /* viewport */
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    h1{
        font-size: 4.3vh; /* viewport */
    }
}

.banner-home {
    background-image: url(imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}